# Maven
target/

# Eclipse
.project
.settings
.classpath

# Idea
.idea/
*.iml

# Selenium
error-screenshots
reference-screenshots

# MacOS
.DS_Store

# npm
tsconfig.json
types.d.ts
node_modules/
webpack.generated.js