html {
  --user-color-0: red;
  --user-color-1: blue;
  --user-color-2: green;
}

.centered-content {
  margin: 0 auto;
  max-width: fit-content;
}

.collaborators-avatars {
  --lumo-primary-color: var(--lumo-contrast-80pct);
}

.log {
  overflow: auto;
  max-height: 200px;
  white-space: pre;
  font-family: monospace;
}
